

{% for label, messages in app.flashes(['warning', 'success']) %}

    {% for message in messages %}
    
<div class="alert alert-{{ label }}">
  
<span><b> {{ label }} - </b> {{ message }}</span>
</div>
  
   
{% endfor %}  

{% endfor %}
