{% extends "layout.html.twig" %}
{% block body %}
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">FAQ</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
			
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">FAQ</h2>
					</div>
				</div>
				<!-- section title -->
			
				<div class="col-md-12">
						<div class="shiping-methods">
							<div class="section-title">
								<h4 class="title">Obtenir un conseil technique</h4>
							</div>
									<p>
									Vous souhaitez un renseignement sur un produit ? Vous désirez faire évoluer votre matériel et vérifier la compatibilité d’un nouveau composant ? Contrôler votre sélection de pièces pour votre nouvel ordinateur sur mesure ? 30 experts sont à votre disposition pour vous accompagner !
										<p>
							
							
						</div>
					
					</div>
			
					<div class="col-md-12">
						<div class="shiping-methods">
							<div class="section-title">
								<h4 class="title">Je n'ai pas accès à tous les modes de livraison !</h4>
							</div>
									<p>
									Bien que nous nous efforcions de laisser un maximum de choix pour ce qui concerne le mode de transport, des contraintes liées à l'adresse d'expédition du produit, à sa nature, son poids ou son volume ou encore sa disponibilité ne nous permettent pas d'offrir toujours la possibilité de choisir une expédition via tous nos transporteurs. Nous nous efforçons toujours, lorsque cela est possible, de proposer un maximum de choix à nos clients. La page dédiée à chaque transporteur vous apportera plus de détail sur les restrictions particulières qui existent peut-être.
									
									<p>
							
							
							</div>
								
					</div>				
			
			
			
			
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
{% endblock %}
