{% extends "layout.html.twig" %}
{% block body %}
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">Whishlist</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
			
				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h2 class="title">WHISHLIST</h2>
					</div>
				</div>
				<!-- section title -->
			
				<div class="col-md-12">
						
					<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium dui in interdum pretium. Duis non nunc sit amet odio egestas molestie a sed quam. Suspendisse in dictum ex. Cras dapibus, lacus nec tincidunt aliquet, est felis sagittis augue, quis ultricies velit enim ut quam. Quisque eu accumsan massa. Integer risus ligula, mattis vel dui in, varius vulputate leo. Aenean tincidunt lacus vel dui maximus pulvinar. Nam condimentum eros vitae nulla eleifend tristique. Donec efficitur magna sed sapien efficitur hendrerit.

Pellentesque fermentum, purus tempus feugiat egestas, dui enim scelerisque purus, non convallis mi neque sed elit. Nulla ipsum libero, eleifend sed quam vel, hendrerit gravida ligula. Nam vel sagittis eros. Nunc tincidunt dui non ligula gravida mattis. Donec eget iaculis ante, vitae commodo felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla laoreet orci quis tincidunt luctus. Maecenas diam sem, tempus vitae magna quis, tempor tristique nisi. Morbi vel tempus orci, sed sodales tellus.

Donec eu urna sollicitudin, feugiat dolor vitae, auctor enim. Pellentesque sed orci mauris. Etiam interdum elit vel arcu mollis pellentesque. Nam purus dui, tempus quis posuere sit amet, eleifend sed dui. Nunc in elit bibendum, ornare urna vitae, auctor mi. Curabitur vel nulla massa. Sed tempus sagittis porta. Donec cursus at libero eu lacinia.					<p>
							
							
						
					
				</div>
			
								
			
			
			
			
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
{% endblock %}
